extends layout

block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p Chloe Dizon
                    // above is placeholder
                img(src='/img/logoutbtn.png' class='logout-btn')
                // above needs link + logout
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='banner-area')
        img(src='/img/bookings-banner.jpg' class='banner')
        div(class='banner-heading-position')
            h1(class='banner-heading') Manage Bookings

    div(class='booking-bg')
        div(class='info-side')
            h2 Hi, User!
            p Book an appointment on the right, or manage your existing appointments below.
            div(class='about-hours')
                h2 Service Hours
                table(class='service-hours')
                    tr
                        th(class='form-th') Monday - Friday
                        td(class='form-td') 9:00 am - 5:00pm
                    tr
                        th(class='form-th') Saturday - Sunday
                        td(class='form-td') 9:00 am - 5:00 pm
            div(class="bookings-buttons-section")
                a(href='/services')
                    button.btn.btn-primary(class='booking-button') View Services
                a(href='/doctors')
                    button.btn.btn-primary(class='booking-button') View Doctors
        //div(class='booking-form')
            //enter booking-form


    div(class='booking-bg')
        h2(class='h2-left') Existing Appointments
        table(class='existing-appointments-table')
            tr(class='appointments-tr-heading')
                th(class='appointments-th') Service
                th(class='appointments-th') Doctor
                th(class='appointments-th') Date
                th(class='appointments-th') Time
                th(class='appointments-th') Duration
                th(class='appointments-th-options') Options
            tr(class='appointments-tr')
                td(class='appointments-td') General Check Up
                td(class='appointments-td') Dr. MacNaughton
                td(class='appointments-td') Wednesday, 12 September
                td(class='appointments-td') 12:00pm
                td(class='appointments-td') 30 minutes
                td(class='appointments-td-buttons')
                    //needs real data + make buttons work
                    div(class='table-option-container')
                        img(src='/img/edit.png' class='table-option-img')
                        label(class='table-options-label') Edit
                    div(class='table-option-container')
                        img(src='/img/trash.png' class='table-option-img')
                        label(class='table-options-label') Delete
            tr(class='appointments-tr')
                td(class='appointments-td') General Check Up
                td(class='appointments-td') Dr. MacNaughton
                td(class='appointments-td') Wednesday, 12 September
                td(class='appointments-td') 12:00pm
                td(class='appointments-td') 30 minutes
                td(class='appointments-td-buttons')
                    //needs real data + make buttons work
                    div(class='table-option-container')
                        img(src='/img/edit.png' class='table-option-img')
                        label(class='table-options-label') Edit
                    div(class='table-option-container')
                        img(src='/img/trash.png' class='table-option-img')
                        label(class='table-options-label') Delete
            tr(class='appointments-tr')
                td(class='appointments-td') General Check Up
                td(class='appointments-td') Dr. MacNaughton
                td(class='appointments-td') Wednesday, 12 September
                td(class='appointments-td') 12:00pm
                td(class='appointments-td') 30 minutes
                td(class='appointments-td-buttons')
                    //needs real data + make buttons work
                    div(class='table-option-container')
                        img(src='/img/edit.png' class='table-option-img')
                        label(class='table-options-label') Edit
                    div(class='table-option-container')
                        img(src='/img/trash.png' class='table-option-img')
                        label(class='table-options-label') Delete


    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu
                        li
                            a(href='/doctors') Doctors
                        li
                            a(href='/services') Services
                        li
                            a(href='/appointments/bookings') Bookings
                        li
                            a(href='/') Home