extends layout

block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username' id='username')
                    p()=username
                a(href="../users/logout")
                    img(src='/img/logoutbtn.png' class='logout-btn')
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='banner-area')
        img(src='/img/bookings-banner.jpg' class='banner')
        div(class='banner-heading-position')
            h1(class='banner-heading') Manage Bookings

    div(class='booking-bg-v2')
        div(class='info-side-v2')
            h2 Hi, User!
            p Book an appointment on the right, or manage your existing appointments below.
            div(class='about-hours')
                h2 Service Hours
                table(class='service-hours')
                  tr
                     th(class='form-th') Monday - Friday
                        td(class='form-td') 9:00am - 5:00pm
                  tr
                     th(class='form-th') Saturday - Sunday
                     td(class='form-td') 9:00am - 5:00pm
            div(class="bookings-buttons-section")
                a(href='/services')
                    button.btn.btn-primary(class='booking-button') View Services
                a(href='/doctors')
                    button.btn.btn-primary(class='booking-button') View Doctors

        div(class='booking-side-v2')
            h2 Book an Appointment
            form(method='POST' action='')
                select#service(name='selectedService' class="form-item")
                    option(value='' hidden) Service
                    for service in allService
                        option(id=service.serviceID value=service.serviceID)=service.title
                select#doctor(name='selectedStaff' class="form-item" disabled)
                    option(value='' hidden) Doctor
                input#date(placeholder="Date" class="form-item-date" onfocus="(this.type='date')" name='time' required='true' onkeydown='return false' disabled)
                select#appointTime(class="form-item" name='appointTime' disabled)
                    option(value='' hidden) Time
                input#description(placeholder="Description" class="form-item-desc" name='description' required='true')
                p#serviceTimeTaken(class='form-feedback') Please allow up to ___ minutes for this appointment.
                button.btn.btn-primary#submitAppoint(type='submit' class='form-submit' disabled) Book an appointment

    if successful
        div#popup(class='popup')
            div(class='popup-container')
                div(class='popup-content')
                    img(src='/img/footer-logo.png')
                    h2 Appointment Successfully Booked.
                button#closePopup(class='popup-button') Okay


    div#popupEditDelete(class='popup' hidden)
        div(class='popup-container')
            div#popupContent(class='popup-content')
                img(src='/img/footer-logo.png')
                h2#popupMessage
            button#closePopup(class='popup-button') Okay

    div(class='booking-bg')
        h2(class='h2-left') Existing Appointments
        table(class='existing-appointments-table' id='existingAppointments')

    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact
                    p(class='footer-text') 0412 345 678 | utsmedical@uts.edu.au
                    div(class='footer-links')
                        a(href='/') Home
                        a(href='/appointments/bookings') Bookings
                        a(href='/services') Services
                        a(href='/doctors') Doctors

    script.
        $(document).ready(function() {
            populateTable();
        });

        $(document).on("change", '#service', function (e) {
            var service = $(this).val()
            if (service != '') {
                $.ajax({
                    type: "POST",
                    data: {service: service},
                    url: 'services/' + service,
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#doctor");
                        console.log(json);
                        $el.empty();
                        $el.removeAttr('disabled');
                        $el.append($("<option></option>")
                            .attr({value: '', hidden: 'hidden'}).text('Doctor'));
                        $("#serviceTimeTaken").text("Please allow up to " + json.duration + " minutes for this appointment.");
                        $el.append($("<option></option>")
                            .attr("value", '0').text('Any doctor'));
                        $.each(json.allStaff, function () {
                            $el.append($("<option></option>")
                                .attr({value: this['staffID'], id: this['staffID']}).text(this['lastName']));
                        });
                    }
                });
            }
            else {
                $('#doctor').attr('disabled', 'disabled');
                $('#date').attr('disabled', 'disabled');
                $('#appointTime').attr('disabled', 'disabled');
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        $(document).on("change", '#doctor', function (e) {
            var doctor = $('#doctor').val();
            var service = $('#service').val();
            var date = $('#date').val();
            if (doctor != '') {
                var today = new Date().toISOString().split('T')[0];
                $('#date').attr('min', today);
                $('#date').removeAttr('disabled');
                $.ajax({
                    type: "POST",
                    data: {doctor: doctor, service: service, date: date},
                    url: 'times/' + doctor,
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#appointTime");
                        $el.empty();
                        $el.append($("<option></option>")
                            .attr({value: '', hidden: 'hidden'}).text('Time'));
                        $.each(json, function () {
                            var time = this['availableSlot'].substr(11, 8);
                            $el.append($("<option></option>")
                                .attr("value", this['availableSlot']).text(time));
                        });
                    }
                });
            }
            else {
                $('#date').attr('disabled', 'disabled');
                $('#appointTime').attr('disabled', 'disabled');
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        $(document).on("change", '#date', function (e) {
            var doctor = $('#doctor').val();
            var service = $('#service').val();
            var date = $('#date').val();
            if (date != '') {
                $.ajax({
                    type: "POST",
                    data: {doctor: doctor, service: service, date: date},
                    url: 'times/' + doctor,
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#appointTime");
                        $el.empty();
                        $el.removeAttr('disabled');
                        $el.append($("<option></option>")
                            .attr({value: '', hidden: 'hidden'}).text('Time'));
                        $.each(json, function () {
                            $el.append($("<option></option>")
                                .attr("value", this['availableSlot']).text(getTimeFormat(this['availableSlot'])));
                        });
                    }
                });
            }
            else {
                $('#appointTime').attr('disabled', 'disabled');
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        $(document).on("change", '#appointTime', function (e) {
            var appointTime = $('#appointTime').val();
            if (appointTime != '') {
                $('#submitAppoint').removeAttr('disabled');
            }
            else {
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        function populateTable() {
            var id = document.getElementById('username').firstChild.textContent;
            $.ajax({
                type: 'POST',
                data: {id: id},
                url: 'bookings/' + id,
                dataType: 'json',
                success: function(json) {
                    var $el = $('#existingAppointments');
                    $el.empty();
                    $el.append($('<tr class="appointments-tr-heading">').append(
                        $('<th class="appointments-th" width="21%">').text('Service'),
                        $('<th class="appointments-th" width="21%">').text('Doctor'),
                        $('<th class="appointments-th" width="30%">').text('Date'),
                        $('<th class="appointments-th" width="10%">').text('Time'),
                        $('<th class="appointments-th" width="13%">').text('Duration'),
                        $('<th class="appointments-th" colspan="2" width="15%">').text('Options')
                    ));
                    $.each(json, function() {
                        $el.append($('<tr class="appointments-tr" id="' + this['appointmentID'] +'">').append(
                            $('<td class="appointments-td" id="title">').attr('value', this['serviceID']).text(this['serviceTitle']),
                            $('<td class="appointments-td" id="name">').attr('value', this['staffID']).text('Dr. ' + this['staffName']),
                            $('<td class="appointments-td" id="date">').attr('value', this['appointmentDate']).text(getDateFormat(this['appointmentDate'])),
                            $('<td class="appointments-td" id="time">').text(getTimeFormat(this['startTime'])),
                            $('<td class="appointments-td" id="duration">').text(this['duration'] + ' minutes'),
                            $('<td class="appointments-td" id="editButton">').append(
                                $('<input type="image" src="/img/edit.png" width="43" height="50" style="height: 50px;" class="table-option-img" id="edit" onclick="editAppointment(this);">')
                            ),
                            $('<td class="appointments-td" id="deleteButton">').append(
                                $('<input type="image" src="/img/trash.png" width="44" height="50" style="height: 50px;" class="table-option-img" id="delete" onclick="deleteAppointment(this);">')
                            )
                        ));
                    });
                }
            });
        };

        function deleteAppointment(button) {
            var row = button.parentNode.parentNode;
            $.ajax({
                type: 'POST',
                data: {id: row.id},
                url: 'delete',
                dataType: 'json',
                success: function() {
                    row.parentNode.removeChild(row);
                    $("#popupEditDelete").removeAttr('hidden');
                    $("#popupMessage").text("Appointment successfully deleted");
                }
            });
        };

        function editAppointment(button) {
            var row = button.parentNode.parentNode;
            var existing_date = row.childNodes[2].getAttribute('value').substr(0, 10);
            var today = new Date().toISOString().split('T')[0];
            button.parentNode.innerHTML = '<input type="image" src="/img/confirm.png" width="45" height="50" style="height: 50px;" class="table-option-img" id="edit" onclick="confirmAppointment(this);">';
            row.childNodes[2].innerHTML = '<input id="date_dropdown" type="date" onkeydown="return false">';
            row.childNodes[2].firstChild.setAttribute('value', existing_date);
            row.childNodes[2].firstChild.setAttribute('min', today);
            row.childNodes[3].innerHTML = '<select id="time_dropdown" disabled></select>';
            updateTimes(row.childNodes[2].firstChild);
        };

        $(document).on('change', '#date_dropdown', function(e){
            updateTimes(this);
        });

        function updateTimes(date_dropdown) {
            var doctor = date_dropdown.parentNode.parentNode.childNodes[1].getAttribute('value');
            var service = date_dropdown.parentNode.parentNode.childNodes[0].getAttribute('value');
            var date = $(date_dropdown).val();
            var time_dropdown = date_dropdown.parentNode.parentNode.childNodes[3].firstChild;
            $.ajax({
                type: "POST",
                data: {doctor: doctor, service: service, date: date},
                url: 'times/' + doctor,
                dataType: 'json',
                success: function (json) {
                    var $el = $(time_dropdown);
                    $el.empty();
                    $el.removeAttr('disabled');
                    $.each(json, function () {
                        $el.append($("<option></option>")
                            .attr({value: this['availableSlot'], name: getTimeFormat(this['availableSlot'])}).text(getTimeFormat(this['availableSlot'])));
                    });
                }
            });
        };

        function confirmAppointment(button) {
            var row = button.parentNode.parentNode;
            var appointmentID = row.getAttribute('id');
            var newDate = $(row.childNodes[2].firstChild).val();
            var newTime = row.childNodes[3].firstChild.options[row.childNodes[3].firstChild.selectedIndex].value;
            $.ajax({
                type: 'POST',
                data: {appointmentID: appointmentID, date: newDate, time: newTime},
                url: 'update',
                dataType: 'json',
                success: function(json) {
                    row.childNodes[2].innerHTML = getDateFormat(json[0].appointmentDate);
                    row.childNodes[3].innerHTML = getTimeFormat(json[0].startTime);
                    row.childNodes[5].innerHTML = '<input type="image" src="/img/edit.png" width="43" height="50" style="height: 50px;" class="table-option-img" id="edit" onclick="editAppointment(this);">'
                    $("#popupEditDelete").removeAttr('hidden');
                    $("#popupMessage").text("Appointment successfully edited");
                }
            });
        };

        function getDateFormat(date) {
            var $date = new Date(date);
            var day = "";
            switch($date.getDay()) {
                case 0:
                    day = "Sunday";
                    break;
                case 1:
                    day = "Monday";
                    break;
                case 2:
                    day = "Tuesday";
                    break;
                case 3:
                    day = "Wednesday";
                    break;
                case 4:
                    day = "Thursday";
                    break;
                case 5:
                    day = "Friday";
                    break;
                case 6:
                    day = "Saturday";
                    break;
            }
            var dateNumber = $date.getDate();
            var month = "";
            switch ($date.getMonth()) {
                case 0:
                    month = "January";
                    break;
                case 1:
                    month = "February";
                    break;
                case 2:
                    month = "March";
                    break;
                case 3:
                    month = "April";
                    break;
                case 4:
                    month = "May";
                    break;
                case 5:
                    month = "June";
                    break;
                case 6:
                    month = "July";
                    break;
                case 7:
                    month = "August";
                    break;
                case 8:
                    month = "September";
                    break;
                case 9:
                    month = "October";
                    break;
                case 10:
                    month = "November";
                    break;
                case 11:
                    month = "December";
                    break;
            }
            return day + ', ' + dateNumber + ' ' + month;
        };

        function getTimeFormat(date) {
            var time = date.substr(11, 8);
            var hourEnd = time.indexOf(":");
            var H = +time.substr(0, hourEnd);
            var h = H % 12 || 12;
            var ampm = (H < 12 || H === 24) ? "am" : "pm";
            return h + time.substr(hourEnd, 3) + ampm;
        };

        $(document).on("click", '#closePopup', function () {
            $('#popup').attr("hidden", "hidden");
            $('#popupEditDelete').attr("hidden", "hidden");
        });
