extends layout

block content
	div(class='header')
		h1= title

	div(class='deleteTable')
		table(onclick='selectRow();')
			tr
				th Student ID
				th Description
				th Time
				th
			tr
				td 12345678
				td Sore throat.
				td 27/08/2018
				td #[input(type='button' id='smallButton' value='Cancel' onclick='CancelRow(this)')]
			tr
				td 19876543
				td Migranes.
				td 29/08/2018
				td #[input(type='button' id='smallButton' value='Cancel' onclick='CancelRow(this)')]
			tr
				td 12346789
				td Ligma.
				td 06/09/2018
				td #[input(type='button' id='smallButton' value='Cancel' onclick='CancelRow(this)')]

	script.
		function CancelRow(o) {
			var p=o.parentNode.parentNode;
			p.parentNode.removeChild(p);
		}