extends layout

block content
    div(class='header')
        h1= title

    div(class='createForm')
        form(method='POST' action='')
            div(class='formElement')
                label(for='student_id') Student ID:
            div(class='formElement')
                input#student_id.form-control(type='text' placeholder='Your Student ID...' name='student_id' required='true')
            div(class='formElement')
                label(for='description') Description:
            div(class='formElement')
                input#description.form-control(type='text' placeholder='Description of the problem...' name='description' required='true')
            div(class='formElement')
                label(for='time') Appointment Date:
            div(class='formElement')
                input#time.form-control(placeholder='Date...' type="text" onfocus="(this.type='date')" name='time' required='true')
            div(class='formElement')
                label(for='appointTime') Appointment Time:
            div(class='formElement')
                select#appointTime
                    option(value='09:30:00') 9:30am
                    option(value='10:00:00') 10:00am
                    option(value='10:30:00') 10:30am
                    option(value='11:30:00') 11:30am
            div(class='formElement')
                button.btn.btn-primary(type='submit' class='largeButton') Make Appointment
        if errors
            ul
                for error in errors
                    li!= error.msg