extends layout

block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p= username
                a(href="../users/logout")
                    img(src='/img/logoutbtn.png' class='logout-btn')
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='banner-area')
        img(src='/img/doctors-banner.jpg' class='banner')
        div(class='banner-heading-position')
            h1(class='banner-heading') Our Doctors

    div(class='sd-body')
        h2(class='sd-heading') Our Doctors
        p(class='sd-description') Our team of doctors are here for all of your medical requirements. Each staff member is skilled and medically licensed, certified by medical institutes and with many years experience, and the team can provide many services. We promise to provide you with a comfortable and professional health-care experience.
        div(class='sd-container')
            for doctor in allDoctors
                div(class='sd-item-container')
                    img(src='/img/mackey.jpg' class='sd-img')
                    div(class='sd-item')
                        h3(class='sd-item-heading')='Dr. ' + doctor.lastName
                        p(class='sd-item-desc')=doctor.abstract
                        button.btn.btn-primary(class='sd-button') Make an appointment


    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu
                        li
                            a(href='/doctors') Doctors
                        li
                            a(href='/services') Services
                        li
                            a(href='/appointments/bookings') Bookings
                        li
                            a(href='/') Home

