extends layout

block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p Chloe Dizon
                    // above is placeholder
                img(src='/img/logoutbtn.png' class='logout-btn')
                // above needs link + logout
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='banner-area')
        img(src='/img/doctors-banner.jpg' class='banner')
        div(class='banner-heading-position')
            h1(class='banner-heading') Our Doctors

    div(class='sd-body')
        h2(class='sd-heading') Our Doctors
        p(class='sd-description') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        div(class='sd-container')
            //BELOW ARE ALL PLACEHOLDERS
            div(class='sd-item-container')
                img(src='/img/mackey.jpg' class='sd-img')
                div(class='sd-item')
                    h3(class='sd-item-heading') Dr. Mackey
                    p(class='sd-item-desc') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                    button.btn.btn-primary(class='sd-button') Make an appointment
        div(class='sd-item-container')
            img(src='/img/macnaughton.jpg' class='sd-img')
            div(class='sd-item')
                h3(class='sd-item-heading') Dr. MacNaughton
                p(class='sd-item-desc') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                button.btn.btn-primary(class='sd-button') Make an appointment
        div(class='sd-item-container')
            img(src='/img/unsworth.jpg' class='sd-img')
            div(class='sd-item')
                h3(class='sd-item-heading') Dr. Unsworth
                p(class='sd-item-desc') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                button.btn.btn-primary(class='sd-button') Make an appointment
        div(class='sd-item-container')
            img(src='/img/walton.jpg' class='sd-img')
            div(class='sd-item')
                h3(class='sd-item-heading') Dr. Walton
                p(class='sd-item-desc') Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                button.btn.btn-primary(class='sd-button') Make an appointment


    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu
                        li
                            a(href='/doctors') Doctors
                        li
                            a(href='/services') Services
                        li
                            a(href='/appointments/bookings') Bookings
                        li
                            a(href='/') Home

