extends layout

block content
	div(class='header')
		div(class='container')
			div(id='top_header')
				h1= title
			p Welcome to #{title}

	div(class='body')
		table
			td
				a(href='/appointments/create')
					button(class='largeButton') Make Appointment
			td
				a(href='/appointments/cancel')
					button(class='largeButton') Cancel Appointment