extends layout

block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p Chloe Dizon
                    // above is placeholder
                img(src='/img/logoutbtn.png' class='logout-btn')
                // above needs link + logout
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='doctors.pug') Doctor
                        // needs routing
                    li
                        a(href='services.pug') Services
                        // needs routing
                    li
                        a(href='bookings.pug') Bookings
                        // needs routing
                    li
                        a(href='/') Home

    div(class='banner-area')
        img(src='/img/homeBG.jpg' class='banner')
        div(class='banner-heading-position')
            h1(class='banner-heading') UTS Student Medical Appointment System

    //div(class='links')
        table
            td
                a(href='/appointments/create')
                    button(class='largeButton') Make Appointment
            td
                a(href='/appointments/cancel')
                    button(class='largeButton') Cancel Appointment

    div(class='about-section')
        div(class='about-side')
            h2 About Us
            div(class='about-description')
                p UTS Medical provide a range of health services to current students. Students may schedule medical appointments online using the SMAS system. Our highly qualified team is always ready to help. Unfortunately, walk-in appointments are not available at present.
                div(class='about-hours')
                    h2 Service Hours
                    table(class='service-hours')
                        tr
                            th(class='table-day') Monday - Friday
                            td(class='table-time') 9:00 am - 5:00pm
                        tr
                            th(class='table-day') Saturday - Sunday
                            td(class='table-time') 9:00 am - 5:00 pm
        div(class='booking-side')
            div(class='booking-form')
                h2 Book an Appointment
                form
                    //below are all placeholders
                    input(placeholder="Service" class="form-item")
                    input(placeholder="Doctor" class="form-item")
                    input(placeholder="Date" class="form-item")
                    input(placeholder="Time" class="form-item")
                    input(placeholder="Description" class="form-item-desc")
                    p(class='form-feedback') Please allow up to ___ minutes for this appointment.
                    button.btn.btn-primary(type='submit' class='form-submit') Book an appointment



    div(class='service-area')
        h2(class='h2-service') Our Services
        div(class='home-items')
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/check-up.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                            // ALL NEED INFO FROM DATABASE
                p(class='img-text-service') test
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/dentist.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                p(class='img-text-service') test
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/Physio.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                p(class='img-text-service') test
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/dietitian.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                p(class='img-text-service') test


    div(class='doctor-area')
        h2 Our Doctors
        div(class='home-items')
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/check-up.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                            // ALL NEED INFO FROM DATABASE
                p(class='img-text-doctor') test
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/dentist.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                p(class='img-text-doctor') test
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/Physio.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                p(class='img-text-doctor') test
            div(class='home-item-container')
                a(href='services.pug')
                    img(src='/img/dietitian.jpg' class='home-item')
                    div(class='img-overlay')
                        div(class='img-overlay-text')
                            p test
                p(class='img-text-doctor') test

    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu
                        li
                            a(href='doctors.pug') Doctor
                            // needs routing
                        li
                            a(href='services.pug') Services
                            // needs routing
                        li
                            a(href='bookings.pug') Bookings
                            // needs routing
                        li
                            a(href='/') Home
