extends layout
block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p Chloe Dizon
                    // above is placeholder
                img(src='/img/logoutbtn.png' class='logout-btn')
                // above needs link + logout
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/staff/daily') Staff
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='banner-area')
        img(src='/img/homeBG.jpg' class='banner')
        div(class='banner-heading-position')
            h1(class='banner-heading') UTS Student Medical Appointment System


    div(class='about-section')
        div(class='about-side')
            h2 About Us
            div(class='about-description')
                p UTS Medical provide a range of health services to current students. Students may schedule medical appointments online using the SMAS system. Our highly qualified team is always ready to help. Unfortunately, walk-in appointments are not available at present.
                div(class='about-hours')
                    h2 Service Hours
                    table(class='service-hours')
                        tr
                            th(class='form-th') Monday - Friday
                            td(class='form-td') 9:00am - 5:00pm
                        tr
                            th(class='form-th') Saturday - Sunday
                            td(class='form-td') 9:00am - 5:00pm
        div(class='booking-side')
            div(class='booking-form')
                h2 Book an Appointment
                form(method='POST' action='')
                    select#service(name='selectedService' class="form-item")
                        option(value='' hidden) Service
                        for service in allService
                            option(value=service.serviceID)=service.title
                    select#doctor(name='selectedStaff' class="form-item" disabled)
                        option(value='' hidden) Doctor
                    input#date(placeholder="Date" class="form-item" onfocus="(this.type='date')" name='time' required='true' onkeydown='return false' disabled)
                    select#appointTime(class="form-item" name='appointTime' disabled)
                        option(value='' hidden) Time
                    input#description(placeholder="Description" class="form-item-desc" name='description' required='true')
                    p#serviceTimeTaken(class='form-feedback') Please allow up to ___ minutes for this appointment.
                    button.btn.btn-primary#submitAppoint(type='submit' class='form-submit' disabled) Book an appointment

    div(class='service-area')
        h2(class='h2-service') Our Services
        div(class='home-items')
            for service in allService
                div(class='home-item-container')
                    a(href='/services')
                        img(src=('/img/' + service.title + '.jpg') class='home-item')
                        div(class='img-overlay')
                    p(class='img-text-service')=service.title


    div(class='doctor-area')
        h2 Our Doctors
        div(class='home-items')
            for staff in allStaff
                div(class='home-item-container')
                    a(href='/doctors')
                        img(src=('/img/' + staff.staffID + '.jpg') class='home-item')
                        div(class='img-overlay')
                    p(class='img-text-doctor')='Dr. ' + staff.lastName

    if successful
        div#popup(class='popup')
            div(class='popup-container')
                div(class='popup-content')
                    img(src='/img/footer-logo.png')
                    h2 Appointment Successfully Booked.
                button#closePopup(class='popup-button') Okay

    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact
                    p(class='footer-text') 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu-footer
                        li
                            a(href='/staff/daily') Staff
                        li
                            a(href='/doctors') Doctors
                        li
                            a(href='/services') Services
                        li
                            a(href='/appointments/bookings') Bookings
                        li
                            a(href='/') Home

    script.
        $(document).on("change", '#service', function (e) {
            var service = $(this).val()
            $("#serviceTimeTaken").text("Please allow up to " + allService[service - 1].duration + " minutes for this appointment.");
            if(service != '') {
                $.ajax({
                    type: "POST",
                    data: {service: service},
                    url: 'services/' + service,
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#doctor");
                        $el.empty();
                        $el.removeAttr('disabled');
                        $el.append($("<option></option>")
                            .attr({value: '', hidden: 'hidden'}).text('Doctors'));
                        $el.append($("<option></option>")
                            .attr("value", '0').text('Any doctor'));
                        $.each(json, function () {
                            $el.append($("<option></option>")
                                .attr("value", this['staffID']).text(this['lastName']));
                        });
                    }
                });
            }
            else {
                $('#doctor').attr('disabled', 'disabled');
                $('#date').attr('disabled', 'disabled');
                $('#appointTime').attr('disabled', 'disabled');
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        $(document).on("change", '#doctor', function (e) {
            var doctor = $('#doctor').val();
            var service = $('#service').val();
            var date = $('#date').val();
            if(doctor != '') {
                var today = new Date().toISOString().split('T')[0];
                $('#date').attr('min', today);
                $('#date').removeAttr('disabled');
                $.ajax({
                    type: "POST",
                    data: {doctor: doctor, service: service, date: date},
                    url: 'appointments/times/' + doctor,
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#appointTime");
                        $el.empty();
                        $el.append($("<option></option>")
                            .attr({value: '', hidden: 'hidden'}).text('Times'));
                        $.each(json, function () {
                            var time = this['availableSlot'].substr(11, 8);
                            $el.append($("<option></option>")
                                .attr("value", this['availableSlot']).text(time));
                        });
                    }
                });
            }
            else {
                $('#date').attr('disabled', 'disabled');
                $('#appointTime').attr('disabled', 'disabled');
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        $(document).on("change", '#date', function (e) {
            var doctor = $('#doctor').val();
            var service = $('#service').val().serviceID;
            var date = $('#date').val();
            if (date != '') {
                $.ajax({
                    type: "POST",
                    data: {doctor: doctor, service: service, date: date},
                    url: 'appointments/times/' + doctor,
                    dataType: 'json',
                    success: function (json) {
                        var $el = $("#appointTime");
                        $el.empty();
                        $el.removeAttr('disabled');
                        $el.append($("<option></option>")
                            .attr({value: '', hidden: 'hidden'}).text('Times'));
                        $.each(json, function () {
                            $el.append($("<option></option>")
                                .attr("value", this['availableSlot']).text(getTimeFormat(this['availableSlot'])));
                        });
                    }
                });
            }
            else {
                $('#appointTime').attr('disabled', 'disabled');
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        $(document).on("change", '#appointTime', function (e) {
            var appointTime = $('#appointTime').val();
            if (appointTime != '') {
                $('#submitAppoint').removeAttr('disabled');
            }
            else {
                $('#submitAppoint').attr('disabled', 'disabled');
            }
        });

        $(document).on("click", '#closePopup', function() {
            $('#popup').attr('hidden', 'hidden');
        });

        function getTimeFormat(date) {
            var time = date.substr(11, 8);
            var hourEnd = time.indexOf(":");
            var H = +time.substr(0, hourEnd);
            var h = H % 12 || 12;
            var ampm = (H < 12 || H === 24) ? "am" : "pm";
            return h + time.substr(hourEnd, 3) + ampm;
        };
