extends layout

block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p= username
                a(href="users/logout")
                    img(src='/img/logoutbtn.png' class='logout-btn')
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='banner-area')
        img(src='/img/services-banner.jpg' class='banner')
        div(class='banner-heading-position')
            h1(class='banner-heading') Our Services

    div(class='sd-body')
        h2(class='sd-heading') Our Services
        p(class='sd-description') UTS Medical is proud to offer a wide range of services to our patients. Each service is provided by one or many of our professional staff, with a focus on personalised, quality health-care. These can vary from assessments through General Consultations, or to more specialised care such as Physiotherapy, Dental and Surgery.
        div(class='sd-container')
            for service in allService
                div(name='itemDiv' class='sd-item-container')
                    img(src='/img/' + service.title + '.jpg' class='sd-img')
                    div(class='sd-item')
                        h3(class='sd-item-heading')=service.title
                        p(class='sd-item-desc')=service.description
                        a(href='/appointments/bookings')
                            button.btn.btn-primary(class='sd-button') Make an appointment

    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact
                    p(class='footer-text') 0412 345 678 | utsmedical@uts.edu.au
                    div(class='footer-links')
                        a(href='/') Home
                        a(href='/appointments/bookings') Bookings
                        a(href='/services') Services
                        a(href='/doctors') Doctors

