extends layout
block content
    header(class='staff-header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p Chloe Dizon
                    // above is placeholder
                img(src='/img/logoutbtn.png' class='logout-btn')
                // above needs link + logout
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='page-title')
        h1(class='h1-staff') Appointments

    div(class='daily-appointments')
        h4(class='h4-day' id='dayHeader') Friday
        h3(class='h3-date' id='dateHeader') 14 September
        div(class='arrow-buttons-container')
            img(src='/img/arrow-backward.png' class='nav-arrow')
            img(src='/img/arrow-forward.png' class='nav-arrow')
        table(class='daily-table' id='dailyAppointments')
                    //tr(class='staff-table-tr')
                    //    td(class='daily-time-td') 9:00
                    //    td(class='daily-name-td') John Smith
                    //    td(class='daily-service-td') General Check-Up
                    //    td(class='daily-note-td') Sore leg

    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu
                        li
                            a(href='/doctors') Doctors
                        li
                            a(href='/services') Services
                        li
                            a(href='/appointments/bookings') Bookings
                        li
                            a(href='/') Home

    script.
        $(document).ready(function() {
            populateTable();
        });

        function populateTable() {
            var id = '1';
            $.ajax({
                type: 'POST',
                data: {id: id},
                url: 'dailyBookings',
                dataType: 'json',
                success: function(json) {
                    var table = $('#dailyAppointments');
                    $.each(json, function() {
                        table.append($('<tr class="staff-table-tr">').append(
                            $('<td class="daily-time-td">').text(getTimeFormat(this['availableSlot'])),
                            $('<td class="daily-name-td">'),
                            $('<td class="daily-service-td">'),
                            $('<td class="daily-note-td">')
                        ));
                    });
                    populateRows(id);
                }
            });
        };

        function populateRows(id) {
            $.ajax({
                type:'POST',
                data: {id: id},
                url: 'doctorAppointments/' + id,
                dataType: 'json',
                success: function(json) {
                    var table = $('#dailyAppointments');
                    $.each(json, function() {
                        for(var i = 0; i < table.children().length; i++){
                            if(table.children()[i].childNodes[0].innerText === getTimeFormat(this['startTime'])){
                                table.children()[i].childNodes[1].innerText = this['studentID'];
                                table.children()[i].childNodes[1].setAttribute('id', 'daily-td-highlighted');
                                table.children()[i].childNodes[2].innerText = this['serviceTitle'];
                                table.children()[i].childNodes[2].setAttribute('id', 'daily-td-highlighted');
                                table.children()[i].childNodes[3].innerText = this['description'];
                                table.children()[i].childNodes[3].setAttribute('id', 'daily-td-highlighted');
                                for(var j = i; j < i + parseInt(this['duration'], 10)/15; ++j){
                                    table.children()[j].childNodes[1].setAttribute('id', 'daily-td-highlighted');
                                    table.children()[j].childNodes[2].setAttribute('id', 'daily-td-highlighted');
                                    table.children()[j].childNodes[3].setAttribute('id', 'daily-td-highlighted');
                                };
                            };
                        };
                    });
                }
            });
        };

        function getTimeFormat(date) {
            var time = date.substr(11, 8);
            var hourEnd = time.indexOf(":");
            var H = +time.substr(0, hourEnd);
            var h = H % 12 || 12;
            var ampm = (H < 12 || H === 24) ? "am" : "pm";
            return h + time.substr(hourEnd, 3) + ampm;
        };























