extends layout
block content
    header(class='staff-header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p= username
                a(href="../users/logout")
                    img(src='/img/logoutbtn.png' class='logout-btn')
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='page-title')
        h1(class='h1-staff') Appointments
        div(class='daily-appointments')
            h2(class='h2-month') SEPTEMBER
            //above is placeholder month
            table#weeklyTableHeading
                tr
                    th(class='staff-th')
                        img(src='/img/arrow-backward.png' class='nav-arrow')
                        img(src='/img/arrow-forward.png' class='nav-arrow')

                    th(class='staff-th') Mon
                    th(class='staff-th') Tues
                    th(class='staff-th') Wed
                    th(class='staff-th') Thurs
                    th(class='staff-th') Fri
                    th(class='staff-th') Sat
                    th(class='staff-th') Sun
                tr
                    th(class='staff-date-th')
                    th(class='staff-date-th') 10
                    th(class='staff-date-th') 11
                    th(class='staff-date-th') 12
                    th(class='staff-date-th') 13
                    th(class='staff-date-th') 14
                    th(class='staff-date-th') 15
                    th(class='staff-date-th') 16
                    //note above dates are all placeholder values
            table#weeklyTable
                tr(class='staff-table-tr')
                    td(class='staff-td') 9:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 9:15
                    td(class='staff-td') John Smith
                    td(class='staff-td')
                    td(class='staff-td') John Smith
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 9:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 9:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 10:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 10:15
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 10:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 10:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 11:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 11:15
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 11:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 11:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 12:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 12:15
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 12:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 12:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 13:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 13:15
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 13:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 13:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 14:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 14:15
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 14:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 14:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 15:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 15:15
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 15:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 15:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 16:00
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 16:15
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 16:30
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                tr(class='staff-table-tr')
                    td(class='staff-td') 16:45
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
                    td(class='staff-td')
    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu
                        li
                            a(href='/doctors') Doctors
                        li
                            a(href='/services') Services
                        li
                            a(href='/appointments/bookings') Bookings
                        li
                            a(href='/') Home