extends layout
block content
    header(class='staff-header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p Chloe Dizon
                    // above is placeholder
                img(src='/img/logoutbtn.png' class='logout-btn')
                // above needs link + logout
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='/doctors') Doctors
                    li
                        a(href='/services') Services
                    li
                        a(href='/appointments/bookings') Bookings
                    li
                        a(href='/') Home

    div(class='page-title')
        h1(class='h1-staff') Appointments

    div(class='daily-appointments')
            h3(class='h3-date') 14 September
                // above is placeholder date//

            div
                table(class='daily-table')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 9:00
                        td(class='daily-name-td') John Smith
                        td(class='daily-service-td') General Check-Up
                        td(class='daily-note-td') Sore leg
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 9:15
                        td(class='daily-name-td') John Smith
                        td(class='daily-service-td') General Check-Up
                        td(class='daily-note-td') Sore leg
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 9:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 9:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 10:00
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 10:15
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 10:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 10:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 11:00
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 11:15
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 11:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 11:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 12:00
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 12:15
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 12:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 12:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 13:00
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 13:15
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 13:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 13:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 14:00
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 14:15
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 14:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 14:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 15:00
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 15:15
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 15:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 15:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 16:00
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 16:15
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 16:30
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
                    tr(class='staff-table-tr')
                        td(class='daily-time-td') 16:45
                        td(class='daily-name-td')
                        td(class='daily-service-td')
                        td(class='daily-note-td')
    footer(class='footer')
        div(class='footer-bg')
            div(class='footer-content')
                img(src='/img/footer-logo.png' class='footer-logo')
                div(class='footer-contact')
                    p(class='footer-text') For any questions or enquiries, please contact 0412 345 678 | utsmedical@uts.edu.au
                div(class='footer-links')
                    ul.nav-menu
                        li
                            a(href='/doctors') Doctors
                        li
                            a(href='/services') Services
                        li
                            a(href='/appointments/bookings') Bookings
                        li
                            a(href='/') Home