extends layout
block content
    header(class='header')
        div(class='top-header-bg')
            a(href='/')
                img(src='/img/logo.png' class='logo')
            div(class='header-user')
                div(class='username')
                    p Chloe Dizon
                    // above is placeholder
                img(src='/img/logoutbtn.png' class='logout-btn')
                // above needs link + logout
        div(class='nav-menu-bg')
            div(class='nav-menu-container')
                ul.nav-menu
                    li
                        a(href='doctors.pug') Doctor
                        // needs routing
                    li
                        a(href='services.pug') Services
                        // needs routing
                    li
                        a(href='bookings.pug') Bookings
                        // needs routing
                    li
                        a(href='/') Home

        div(class='page-title')
            h1 Appointments
