body {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	line-height: 1.5;
	margin: 0;
	text-align: center;
	background-color: #ffffff;
}

/*--------------------------------------------------------------
# Login Page
--------------------------------------------------------------*/

.login-bg{
    width: 100%;
}

.login-logo{
    maring-top: 10px;
    height: 100px;
    margin-bottom: -30px;

}


.login-form-bg{
    position: fixed;
    width: 400px;
    height: 350px;
    padding-left: 25px;
    padding-right: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color: #ffffff;
    opacity: 0.7;
    box-shadow: 3px 3px 10px black;
    z-index: 98;
}

.login-form-container{
    position: fixed;
    width: 400px;
    height: 350px;
    padding-left: 25px;
    padding-right: 25px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 1;
    z-index: 99;
}

.login-form{
    margin-top: 10px;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

.header{
    position: absolute;
    z-index: 2;
    width: 100%;
    }


.top-header-bg {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.7);
}

.logo {
    float: left;
    height: 30px;
    padding: 5px 5px 5px 50px;
}

.logout-btn{
    max-height: 15px;
    padding-left: 10px;
}

.username{
    color: #fff;
    display: inline-block;
    font-weight: 500;
    vertical-align: middle;
    font-size: 15px;

}

.header-user{
    text-align: center;
    vertical-align: middle;
    line-height: 15px;
    height:40px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #69be00;
    margin-right: 60px;
    float: right;
}

/*--------------------------------------------------------------
# Banner
--------------------------------------------------------------*/

.banner-area{
    margin-top: 0;
    position: relative;
    z-index: 0;
}

.banner{
    max-width: 100%;
    background-size: cover;
    position: relative;
}

.banner-heading{
    margin-top: 180px;
    position: relative;
}

.banner-heading-position{
    width: 500px;
    margin: 0 auto;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

h1 {
    font-size: 48px;
    margin-bottom: -50px;
    font-weight: 700;
    color: #ffffff;
    text-align: center;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
.nav-menu-bg {
    height: 40px;
    background-color: rgba(0, 0, 0, 0.4);
}

.nav-menu-container {
    margin-right: 50px;
}

.nav-menu, .nav-menu * {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-menu ul {
    position: absolute;
    display: none;
}

.nav-menu li {
    position: relative;
    float:right;
    margin-left: 10px;
}

/* Nav Meu Styling */
.nav-menu a {
    padding: 10px 15px 10px 15px;
    display: inline-block;
    color: #fff;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
}

.nav-menu li:hover > a {
    color: #69be00;
}

/*--------------------------------------------------------------
# About Section
--------------------------------------------------------------*/

h2{
    margin-bottom: 0;
}

.about-section{
    padding: 40px;
}

.about-side{
    width:50%;
    z-index: 1;
}

.about-description{
    width: 80%;
    margin: 0 auto;
}

.booking-side{
    position: absolute;
    width: 35%;
    background-color: #ffffff;
    box-shadow: 3px 3px 10px black;
    top: 380px;
    left: 55%;
    z-index: 99;
}

.service-hours{
    border-spacing: 10px;
    margin: 0 auto;
}

.form-th{
    text-align: left;
    border-bottom: 1px solid #69be00;
    font-weight: normal;
}

.form-td{
    text-align: right;
    border-bottom: 1px solid #69be00;
}

.booking-form{
    padding: 10px;
    bottom: 0;
    right: 0;
    position: relative;
}

.form-item{
    width: 330px;
    padding: 5px;
    margin: 7px;
}

.form-item-desc{
    width: 330px;
    height: 70px;
    padding: 5px;
    margin: 10px;
}

.form-feedback{
    font-size: 15px;
}

.form-submit{
    width: 340px;
    background-color: #69be00;
    font-size: 15px;
    color: white;
    border: none;
    padding: 5px;
    margin: 10px;
    text-transform: uppercase;
    font-weight: bold;
}


/*--------------------------------------------------------------
# HOME - Service & Doctor Area
--------------------------------------------------------------*/

.h2-service{
    color: white;
}

.service-area{
    background-color: #707070;
    padding:40px;
}


.home-item{
    height: 200px;
}

.home-item-container{
    position: relative;
    height:200px;
    width:200px;
    display: inline-block;
    padding:25px;
}

.img-overlay{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    margin:25px;
    transition: .5s ease;
    background-color: #69be00;
}

.home-item-container:hover .img-overlay {
    opacity: 0.7;
}

.img-overlay-text{
    color: white;
}

.img-text-service{
    font-weight: bold;
    color: white;
    margin: 0;
}

.img-text-doctor{
    font-weight: bold;
    color: black;
    margin: 0;
}

/*--------------------------------------------------------------
# HOME - Doctor Area
--------------------------------------------------------------*/

.doctor-area{
    background-color: #ffffff;
    padding:40px;
}

.doctor-item{
    height: 200px;
    padding: 25px;
}

/*--------------------------------------------------------------
# SERVICES/DOCTORS PAGES
--------------------------------------------------------------*/
.sd-heading{
    color: #707070;
    font-size: 2em;
    text-shadow: 1px 1px 2px #222222;

}

.sd-description{
    color: #707070;
}

.sd-body{
    padding: 20px 180px 20px 180px;
}

.sd-container{
    margin: 50px 0px 50px 0px;
}

.sd-item{
    margin-left: 200px;
    padding: 15px 0px 15px 15px;
    text-align: left;
}

.sd-item-container{
    background-color: #D3D3D3;
    width: 100%;
    height: 200px;
    margin: 40px 0px 40px 0px;
    position: relative;
}

.sd-img{
    height:200px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.sd-item-heading{
    margin: 0;
}

.sd-item-desc{
    padding-right: 15px;
}

.sd-button{
    width: 230px;
    background-color: #69be00;
    font-size: 15px;
    color: white;
    border: none;
    padding: 5px;
    margin-top: 10px;
    right:0;
    bottom: 0;
    position: absolute;
    text-transform: uppercase;
    font-weight: bold;
}
/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-bg{
    background-color: #222222;
    height: 220px;
    padding-top: 30px;
    padding-bottom: 30px;

}

.footer-content{
    width: 390px;
    margin: 0 auto;
}

.footer-logo{
    height: 80px;
}

.footer-text{
    color: #ffffff;
    padding-bottom: 0;
}

.footer-links {
    margin: 0 auto;
}

/*--------------------------------------------------------------
# Staff View
--------------------------------------------------------------*/
.staff-header{
    width: 100%;
}

.h1-staff {
    font-size: 48px;
    margin-bottom: -50px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
}

.daily-appointments {
    margin-top: 6em;
    margin-left: 5em;
    margin-right: 5em;
    background: #F0F0F0;
    padding: 2em;

}

.daily-table{
    background: #ffffff;
    padding: 1em;
    border: 1px solid #808080;
    margin-top: 6em;
    border-spacing: 1em;

}

.h3-date {
    color: rgba(0, 0, 0, 0.7);
    font-size: 30px;
    font-weight: 700;
    float: left;
}

/*--------------------------------------------------------------
# Manage Bookings
--------------------------------------------------------------*/
.book-appointment-box {
    background: #F0F0F0;
    border: solid 1px #D3D3D3;
    padding: 2em;
    margin: 2em;
}
